/* nav */

.header-main{
    width: 100%;
    height: 60px;
    background-color:var(--whiteBackground);
    display: flex;
    justify-content: space-between;

    z-index: 1;
}

.header-main-logo{
    width: fit-content;
    height: 100%;
    background-color: var(--whiteBackground);
    padding-left: 60px;
    display: flex;
}
.header-main-logo img{
    height: 40px;
    align-self: center;
}

.header-main-nav{
    width: fit-content;
    background-color:var(--whiteBackground);
    display: flex;
    justify-content: center;
   
    
}
.header-main-nav ul {

    margin: 0 auto;
    
    

}

.header-main-nav ul li{
    margin-left: 30px;
    background-color: pink;
    /* aligns the list items next to each other */
    display: inline;
    /* pushes the item completly next to each other */
    /* So we have full control of the distance between each other */
    float: left;
}
.header-main-nav ul li a {
    color: black;
    padding: 0 10px;;
    /* add texts styles     */
    font-family: "Roboto" , sans-serif;
    font-family: 'Rubik Bubbles', cursive;;
    line-height: 60px;
    display: block;
    height: 100%;
}

.header-main-nav ul li a:hover{
    color: #c13584
}


.header-main-sm{
    width: fit-content;
    height: 100%;

    align-items: center;
    display: flex;
    column-gap: 10px;

    padding: 10px;

    background-color: #fff;
}
.header-main-sm-fb{
    width:20px;
    height: 20px;
    
    background-image: url(../images/facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-main-sm-in{
    width:20px;
    height: 20px;
    background-image: url(../images/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;

}