<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&family=Rubik+Bubbles&family=Source+Serif+Pro:ital@1&family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">    <!-- Css -->
    
        <link rel="stylesheet" href="../static/styles/reset.css">
        <link rel="stylesheet" href="../static/styles/images.css">
        <link rel="stylesheet" href="../static/styles/nav.css"> 
        

        
        <link rel="stylesheet" href="../static/styles/main.css">
        <link rel="stylesheet" href="../static/styles/index.css">
        <link rel="stylesheet" href="../static/styles/login.css">
        <script type="module" src="../static/scripts/templates.js" defer></script>
       
        <script type="text/javascript" src="../static/scripts/main.js" async defer></script>
        <script type="module" src="../static/scripts/background.js" defer></script>

    </head>
    <body >

        <!-- custom element -->
      

        <main class="main-container ">
            
            <div class="login-box">

            <form id ="login" class="form" action="./index.html">
                <!-- Title -->
                <h1 class="form__title">Add new study material</h1>
                <!-- error messages  -->
                <div class="form__message form__message--error"></div>
                <!-- username -->
                <!-- <div class="form__input-group">
                    <input type="text" class="form__input" id="loginUser" placeholder="Usename" autofocus>
                   
                    <div class="form__input-error-message"></div>
                </div> -->

                <div class="form__input-group">
                    <input id="loginPassword"type="password" class="form__input" placeholder="Upload image">
                    
                    <div class="form__input-error-message"></div>

                    <div class="form__input-group">
                        <textarea name="notes" id="notes" cols="30" rows="10" placeholder="add notes" style="width: fit-content;border: 1px solid black;"></textarea>                        
                        <div class="form__input-error-message"></div>

                <button class="form__button" type="submit">Add</button>

               
                
                <!-- <p class="form__text">
                    <a href="./" class="form__text" id="linkCreateAccount">Dont have an account? Lets create one</a>
                </p> -->
            </form>

            
            </div>

            
        </main>
        
       
       <!-- custom element -->
       <!-- <my-footer>
        
       </my-footer> -->
        
        
    </body>
</html>