<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Qoutes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&family=Rubik+Bubbles&family=Source+Serif+Pro:ital@1&family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">    <!-- Css -->
    
        <link rel="stylesheet" href="../static/styles/reset.css">
        <link rel="stylesheet" href="../static/styles/images.css">
        <link rel="stylesheet" href="../static/styles/nav.css">
        
        <link rel="stylesheet" href="../static/styles/main.css">
        <link rel="stylesheet" href="../static/styles/index.css">
        <link rel="stylesheet" href="../static/styles/login.css">

        <script type="module" src="../static/scripts/templates.js" defer></script>
        <script type="module" src="../static/scripts/login.js" defer></script>
        <script type="module" src="../static/scripts/background.js" defer></script>
        <script type="module" src="../static/scripts/qoutes.js" defer></script>

    </head>
   <style>
    table, td{
        background: #ddd;
        padding: 0.75rem;
        border: 1px solid black;
        border-radius: var(--border-radius);
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) ;
    }

   </style>
    <body>

        <!-- custom element -->
        <my-header>

        </my-header>


        <main class="main-container ">
          
            <table >
                <tbody id="myTable">
                    
                </tbody>
            </table>
                

            

            </div>
      

            
        </main>
        
       
       <!-- custom element -->
       <!-- <my-footer>
        
       </my-footer> -->
        <script type="text/javascript" src="../static/scripts/main.js" async defer></script>
        
    </body>
</html>